<div class="!flex !justify-center !bg-blue-200 !text-center">

{% if section.blocks.size > 1 %}
  {% assign middle_index = section.blocks.size | divided_by: 2 | floor %}
  {% for block in section.blocks %}
    <!-- Show all links on medium screens and up -->
     <div class="!hidden !md:block">
        <a href="{{ block.settings.link }}" class="!text-black-300 !no-underline ">
          {{ block.settings.text }}
        </a>
        {% if forloop.last == false %}
          <span class="mx-2">|</span>
        {% endif %}
     </div>
    <!-- Show only the middle link on small screens (mobile) -->
    {% if forloop.index0 == middle_index %}
      <a href="{{ block.settings.link }}" class="!text-black-300 !no-underline !block !md:hidden">
        {{ block.settings.text }}
      </a>
    {% endif %}
  {% endfor %}
{% else %}
  <!-- Handle cases where there is only one block -->
  {% if section.blocks.size == 1 %}
    <a href="{{ section.blocks[0].settings.link }}" class="text-black-300 no-underline">
      {{ section.blocks[0].settings.text }}
    </a>
  {% endif %}
{% endif %}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "max_blocks": 3,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL/Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
