<!-- Container -->
<div class="!flex !flex-col !justify-center !py-20 md:!px-80">
  <h1 class="!text-center !font-bold !mb-12 md:!text-5xl !text-4xl !leading-loose !tracking-wider">{{ section.settings.headline }}</h1>
  <div class="!px-8 !mb-12 md:!px-40">
    <p class="!text-2xl !text-center !hidden md:!block">{{ section.settings.subheadline }}</p>
    <p class="!text-2xl !text-center !block md:!hidden">Click below to browse our collection!</p>
  </div>

  <!-- Images -->
  <div class="!flex !justify-center md:!my-8">
    <div class="!flex !mx-8 !items-center !justify-center md:!w-1/2 !gap-2 !h-[40rem] ">
      <div class="!h-[30rem] !w-[16rem]">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image1 |image_url: width: 256 }}"
          alt="Image 1" />
      </div>
      <div class="!h-[38rem] !w-[20rem]">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image2 |image_url: width: 320 }}"
          alt="Image 2" />
      </div>
      <div class="!h-[30rem] !w-[16rem]">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image3 | image_url: width: 256 }}"
          alt="Image 3" />
      </div>
    </div>
  </div>

  <!-- Button to Customize outfit -->
  <div class="!flex !justify-center !my-4 !px-4">
    <div class="!w-full md:!w-1/3">
      <button class="!px-10 !py-7 md:!p-5 !bg-blue-800 !text-white md:!text-2xl !text-4xl !rounded !w-full">{{ section.settings.btn-text }}</button>
      <p class="!text-xl !my-4 !text-center !block md:!hidden">⭐⭐⭐⭐⭐ Over 500+ 5 Star Reviews Online</p>
      <div class="!hidden md:!block">
        <div class="!flex !justify-center !gap-4 !divide-x !py-4">
          <div class="!flex !items-center">
            <span class="mr-2 !text-green-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </span>
            <p class="!text-xl !my-2 !text-center !text-green-400">
              Ships in 1-2 Days</p>
          </div>

         <!-- Payment methods -->
          <div class="!flex !justify-around !gap-4">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 48 48">
                <path fill="#1976D2" d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"></path><path fill="#FFF" d="M22.255 20l-2.113 4.683L18.039 20h-2.695v6.726L12.341 20h-2.274L7 26.981h1.815l.671-1.558h3.432l.682 1.558h3.465v-5.185l2.299 5.185h1.563l2.351-5.095v5.095H25V20H22.255zM10.135 23.915l1.026-2.44 1.066 2.44H10.135zM37.883 23.413L41 20.018h-2.217l-1.994 2.164L34.86 20H28v6.982h6.635l2.092-2.311L38.767 27h2.21L37.883 23.413zM33.728 25.516h-4.011v-1.381h3.838v-1.323h-3.838v-1.308l4.234.012 1.693 1.897L33.728 25.516z"></path>
                </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 50 50">
                <path d="M 9.984375 15.001953 C 9.149375 15.041953 8.1182969 15.573313 7.5292969 16.320312 C 6.9892969 16.964312 6.5275313 18.010188 6.6445312 18.992188 C 7.5875313 19.074188 8.5301406 18.500438 9.1191406 17.773438 C 9.6991406 17.026437 10.082375 16.024953 9.984375 15.001953 z M 18 17 L 18 32 L 20.375 32 L 20.375 27 L 23.625 27 C 26.608 27 28.75 24.925 28.75 22 C 28.75 19.075 26.647125 17 23.703125 17 L 18 17 z M 20.375 19 L 23.125 19 C 25.172 19 26.375 20.105 26.375 22 C 26.375 23.895 25.182 25 23.125 25 L 20.375 25 L 20.375 19 z M 9.875 19.5 C 8.5 19.5 7.517 20.25 6.875 20.25 C 6.223 20.25 5.25 19.509766 4.125 19.509766 C 2.75 19.509766 1.4033594 20.372859 0.69335938 21.630859 C -0.76564063 24.145859 0.31460937 27.869016 1.7246094 29.916016 C 2.4156094 30.930016 3.25 32 4.375 32 C 5.406 31.961 5.755 31.375 7 31.375 C 8.254 31.375 8.625 32 9.75 32 C 10.875 32 11.556094 30.969078 12.246094 29.955078 C 13.034094 28.805078 13.356 27.684 13.375 27.625 C 13.356 27.606 11.197734 26.77725 11.177734 24.28125 C 11.158734 22.19525 12.879031 21.200578 12.957031 21.142578 C 11.984031 19.700578 10.375 19.5 10 19.5 L 9.875 19.5 z M 34.199219 21 C 31.710219 21 29.870734 22.395453 29.802734 24.314453 L 31.912109 24.314453 C 32.086109 23.402453 32.948859 22.804688 34.130859 22.804688 C 35.563859 22.804688 36.373047 23.460969 36.373047 24.667969 L 36.375 25.5 L 33.443359 25.654297 C 30.722359 25.815297 29.25 26.908594 29.25 28.808594 C 29.25 30.727594 30.770219 32.001953 32.949219 32.001953 C 34.421219 32.001953 35.78725 31.270328 36.40625 30.111328 L 36.455078 30.111328 L 36.455078 31.886719 L 38.623047 31.886719 L 38.623047 24.515625 C 38.624047 22.376625 36.882219 21 34.199219 21 z M 39.5 21 L 43.507812 31.949219 L 43.292969 32.615234 C 42.930969 33.744234 42.344828 34.177734 41.298828 34.177734 C 41.119828 34.177734 40.781 34.159625 40.625 34.140625 L 40.625 35.945312 C 40.783 35.980313 41.332906 36 41.503906 36 C 43.810906 36 44.896703 35.132047 45.845703 32.498047 L 50 21 L 47.595703 21 L 44.808594 29.884766 L 44.759766 29.884766 L 41.972656 21 L 39.5 21 z M 36.375 27 L 36.367188 27.867188 C 36.367188 29.254188 35.166125 30.242188 33.578125 30.242188 C 32.329125 30.242188 31.535156 29.653953 31.535156 28.751953 C 31.535156 27.820953 32.300672 27.279359 33.763672 27.193359 L 36.375 27 z"></path>
            </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 48 48">
                <path fill="#cfd8dc" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5	V37z"></path><path fill="#536dfe" d="M37,6H26.463L13.154,42H37c2.762,0,5-2.238,5-5V11C42,8.238,39.762,6,37,6z"></path><path fill="#fafafa" d="M24.34,23.869v3.365h-1.067v-8.31h2.831c0.683-0.014,1.343,0.245,1.833,0.719 c0.496,0.447,0.776,1.086,0.766,1.754c0.014,0.671-0.265,1.316-0.766,1.764c-0.495,0.472-1.106,0.708-1.833,0.707L24.34,23.869 L24.34,23.869z M24.34,19.947v2.901h1.79c0.397,0.012,0.78-0.144,1.056-0.43c0.561-0.545,0.573-1.442,0.028-2.003 c-0.009-0.01-0.019-0.019-0.028-0.028c-0.273-0.292-0.657-0.452-1.056-0.441L24.34,19.947L24.34,19.947z"></path><path fill="#fafafa" d="M31.163,21.362c0.789,0,1.412,0.211,1.868,0.633s0.685,1,0.684,1.734v3.504h-1.021v-0.789h-0.046 c-0.442,0.65-1.03,0.975-1.764,0.975c-0.626,0-1.15-0.186-1.572-0.557c-0.41-0.345-0.642-0.857-0.633-1.392 c0-0.588,0.222-1.056,0.667-1.404c0.445-0.347,1.038-0.522,1.781-0.522c0.634,0,1.156,0.116,1.566,0.348v-0.244 c0.002-0.365-0.159-0.712-0.441-0.945c-0.282-0.255-0.65-0.394-1.03-0.389c-0.596,0-1.068,0.252-1.416,0.755l-0.94-0.592 C29.384,21.734,30.149,21.362,31.163,21.362z M29.782,25.493c-0.001,0.276,0.13,0.535,0.354,0.696 c0.236,0.186,0.529,0.284,0.829,0.278c0.45-0.001,0.882-0.18,1.201-0.499c0.354-0.333,0.53-0.723,0.53-1.172 c-0.333-0.265-0.797-0.398-1.392-0.398c-0.434,0-0.795,0.105-1.085,0.314C29.927,24.925,29.782,25.183,29.782,25.493L29.782,25.493 z"></path><path fill="#fafafa" d="M39.576,21.548l-3.564,8.192H34.91l1.323-2.866l-2.344-5.325h1.16l1.694,4.084h0.023l1.648-4.084 H39.576z"></path><path fill="#4285f4" d="M17.263,23.143c0-0.325-0.027-0.65-0.082-0.971h-4.502v1.839h2.578 c-0.107,0.593-0.451,1.117-0.953,1.451v1.193h1.539C16.744,25.824,17.263,24.596,17.263,23.143z"></path><path fill="#34a853" d="M12.679,27.808c1.288,0,2.373-0.423,3.164-1.152l-1.539-1.193c-0.428,0.29-0.98,0.456-1.625,0.456 c-1.245,0-2.302-0.839-2.68-1.97H8.414v1.23C9.224,26.79,10.875,27.808,12.679,27.808z"></path><path fill="#fbbc04" d="M9.999,23.948c-0.2-0.593-0.2-1.235,0-1.827v-1.23H8.414c-0.678,1.349-0.678,2.938,0,4.287 L9.999,23.948z"></path><path fill="#ea4335" d="M12.679,20.15c0.681-0.011,1.339,0.246,1.831,0.716l0,0l1.362-1.362 c-0.864-0.811-2.009-1.257-3.194-1.243c-1.805,0-3.455,1.018-4.265,2.63l1.585,1.23C10.377,20.99,11.434,20.15,12.679,20.15z"></path>
            </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 48 48">
                <path fill="#1565C0" d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z"></path><path fill="#FFF" d="M15.186 19l-2.626 7.832c0 0-.667-3.313-.733-3.729-1.495-3.411-3.701-3.221-3.701-3.221L10.726 30v-.002h3.161L18.258 19H15.186zM17.689 30L20.56 30 22.296 19 19.389 19zM38.008 19h-3.021l-4.71 11h2.852l.588-1.571h3.596L37.619 30h2.613L38.008 19zM34.513 26.328l1.563-4.157.818 4.157H34.513zM26.369 22.206c0-.606.498-1.057 1.926-1.057.928 0 1.991.674 1.991.674l.466-2.309c0 0-1.358-.515-2.691-.515-3.019 0-4.576 1.444-4.576 3.272 0 3.306 3.979 2.853 3.979 4.551 0 .291-.231.964-1.888.964-1.662 0-2.759-.609-2.759-.609l-.495 2.216c0 0 1.063.606 3.117.606 2.059 0 4.915-1.54 4.915-3.752C30.354 23.586 26.369 23.394 26.369 22.206z"></path><path fill="#FFC107" d="M12.212,24.945l-0.966-4.748c0,0-0.437-1.029-1.573-1.029c-1.136,0-4.44,0-4.44,0S10.894,20.84,12.212,24.945z"></path>
              </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 48 48">
                <path fill="#1565C0" d="M18.7,13.767l0.005,0.002C18.809,13.326,19.187,13,19.66,13h13.472c0.017,0,0.034-0.007,0.051-0.006C32.896,8.215,28.887,6,25.35,6H11.878c-0.474,0-0.852,0.335-0.955,0.777l-0.005-0.002L5.029,33.813l0.013,0.001c-0.014,0.064-0.039,0.125-0.039,0.194c0,0.553,0.447,0.991,1,0.991h8.071L18.7,13.767z"></path><path fill="#039BE5" d="M33.183,12.994c0.053,0.876-0.005,1.829-0.229,2.882c-1.281,5.995-5.912,9.115-11.635,9.115c0,0-3.47,0-4.313,0c-0.521,0-0.767,0.306-0.88,0.54l-1.74,8.049l-0.305,1.429h-0.006l-1.263,5.796l0.013,0.001c-0.014,0.064-0.039,0.125-0.039,0.194c0,0.553,0.447,1,1,1h7.333l0.013-0.01c0.472-0.007,0.847-0.344,0.945-0.788l0.018-0.015l1.812-8.416c0,0,0.126-0.803,0.97-0.803s4.178,0,4.178,0c5.723,0,10.401-3.106,11.683-9.102C42.18,16.106,37.358,13.019,33.183,12.994z"></path><path fill="#283593" d="M19.66,13c-0.474,0-0.852,0.326-0.955,0.769L18.7,13.767l-2.575,11.765c0.113-0.234,0.359-0.54,0.88-0.54c0.844,0,4.235,0,4.235,0c5.723,0,10.432-3.12,11.713-9.115c0.225-1.053,0.282-2.006,0.229-2.882C33.166,12.993,33.148,13,33.132,13H19.66z"></path>
              </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="!w-12 !h-auto" viewBox="0 0 48 48">
                <linearGradient id="NgmlaCv2fU27PJOuiUvQVa_Sq0VNi1Afgmj_gr1" x1="20.375" x2="28.748" y1="1365.061" y2="1394.946" gradientTransform="translate(0 -1354)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00b3ee"></stop><stop offset="1" stop-color="#0082d8"></stop></linearGradient><path fill="url(#NgmlaCv2fU27PJOuiUvQVa_Sq0VNi1Afgmj_gr1)" d="M43.125,9H4.875C3.287,9,2,10.287,2,11.875v24.25C2,37.713,3.287,39,4.875,39h38.25	C44.713,39,46,37.713,46,36.125v-24.25C46,10.287,44.713,9,43.125,9z"></path><circle cx="17.053" cy="24.053" r="10.053" fill="#cf1928"></circle><linearGradient id="NgmlaCv2fU27PJOuiUvQVb_Sq0VNi1Afgmj_gr2" x1="20" x2="40.107" y1="24.053" y2="24.053" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fede00"></stop><stop offset="1" stop-color="#ffd000"></stop></linearGradient><circle cx="30.053" cy="24.053" r="10.053" fill="url(#NgmlaCv2fU27PJOuiUvQVb_Sq0VNi1Afgmj_gr2)"></circle><path fill="#d97218" d="M20,24.053c0,3.072,1.382,5.818,3.553,7.662c2.172-1.844,3.553-4.59,3.553-7.662	s-1.382-5.818-3.553-7.662C21.382,18.235,20,20.981,20,24.053z"></path>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="!hidden md:!block">
    <div class="!flex !justify-center !gap-12 !py-4">
      <div class="!flex !items-center !text-slate-400 !gap-4 !border-r">
        <span class="!rounded-full !border !p-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
          </svg>
        </span>
        <div class="!max-w-sm">
          <h1 class="!text-3xl !text-slate-400 ">FREE Shipping on Orders over $200</h1>
        </div> 
      </div>
      <div class="!flex !items-center !text-slate-400 !gap-4 !border-r">
        <span class="!rounded-full !border !p-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
          </svg>
        </span>
        <div class="!max-w-sm">
          <h1 class="!text-3xl !text-slate-400 ">Over 500+ 5 Star Reviews Online</h1>
        </div>
      </div>
      <div class="!flex !items-center !text-slate-400 !gap-4">
        <span class="!rounded-full !border !p-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
          </svg>
        </span>
        <div class="!max-w-sm">
          <h1 class="!text-3xl !text-slate-400 ">Made ethically and responsibly</h1>
        </div>
      </div>
    </div>
  </div>



</div>
{% schema %}
  {
    "name": "Cta",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "default": "Find something you love",
        "label": "headline"
      },
      {
        "type": "text",
        "id": "subheadline",
        "default": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus atque tempora nulla voluptates expedita consequuntur, magnam excepturi, optio asperiores qui similique iste sed architecto ea. Numquam, asperiores. Molestias, eum consequatur.",
        "label": "Subheadline"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "btn-text",
        "default": "Customize Your Outfit",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Cta"
      }
    ]
  }
{% endschema %}