<div class="!mx-10 md:!mx-32">
  <div class="md:!w-1/2 !w-full">
    <h1 class="!text-center md:!text-left !font-bold !my-8 md:!text-6xl !text-5xl !leading-loose !tracking-wider">{{ section.settings.headline }}</h1>
  </div>

  <div class="!flex !flex-col-reverse md:!flex-row gap-5 md:!justify-around">
    <div>
      <div class="!m-8">
        <div class="!text-gray-400">
          <h2 class="!my-10 !text-2xl !tracking-widest">{{ section.settings.subheadline1 }}</h2>
          <h2 class="!my-10 !text-2xl !tracking-widest">{{ section.settings.subheadline2 }}</h2>
          <h2 class="!my-10 !text-2xl !tracking-widest">{{ section.settings.subheadline3 }}</h2>
        </div>
      </div>

      <button class="!px-10 !py-6 md:!p-5 md:!w-3/5 !bg-blue-950 !text-white md:!text-2xl !text-4xl !rounded !w-full">{{ section.settings.btn-text }}</button>
    </div>

    <div class="!flex !mx-8 !items-center !justify-center !gap-1 !h-[30rem] ">
      <div class="!h-80 !w-56">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image1 | img_url: 'master' }}"
          alt="Image 1" />
      </div>
      <div class="!h-96 !w-56">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image2 | img_url: 'master' }}"
          alt="Image 2" />
      </div>
      <div class="!h-80 !w-56">
        <img
          class="!h-full !w-full !object-cover"
          src="{{ section.settings.image3 | img_url: 'master' }}"
          alt="Image 3" />
      </div>
    </div>

  </div>


</div>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "default": "Don't apologize for being comfortable",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "subheadline1",
        "default": "Beautiful, comfortable loungewear for day or night",
        "label": "Subheadline 3"
      },
      {
        "type": "text",
        "id": "subheadline2",
        "default": "No wasteful extras, like tags or plastic packaging",
        "label": "Subheadline 2"
      },
      {
        "type": "text",
        "id": "subheadline3",
        "default": "Our signature fabric is incredible comfortable - unlike anything you've ever felt.",
        "label": "Subheadline 3"
      }, {
        "type": "text",
        "id": "btn-text",
        "default": "Customize Your Outfit",
        "label": "Button Text"
      }, {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      }, {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      }, {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      }

    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}