<div class="!mx-10 md:!mx-32">
  <div class="md:!w-3/4 !w-full">
    <h1 class="!text-center md:!text-left !font-bold !my-8 md:!text-6xl !text-5xl !leading-loose !tracking-wider">{{ section.settings.headline }}</h1>
  </div>

  <div class="!flex !flex-col-reverse md:!flex-row gap-5 md:!justify-around">
    {% comment %} top benefits {% endcomment %}
    <div class="md:!w-1/2">
      <div class="!flex !flex-col md:!flex-row !justify-between !gap-4 !my-6 !border-b md:!border-b-0">
        <div class="!flex !justify-center">
          <div class="!w-16 !h-16 !rounded-full !overflow-hidden !border">
            <img
              class="!object-cover !w-full !h-full"
              src="{{ section.settings.icon1 | img_url: 'master' }}"
              alt="icon">
          </div>
        </div>
        <div class="!text-center md:!text-left">
          <h2 class="!text-2xl md:!text-4xl !font-bold !my-2">{{ section.settings.title1 }}</h2>
          <p class="!my-4 !text-2xl">{{ section.settings.subtitle1 }}</p>
        </div>
      </div>
      <div class="!flex !flex-col md:!flex-row !justify-between !gap-4 !my-6 !border-b md:!border-b-0">
        <div class="!flex !justify-center">

          <div class="!w-16 !h-16 !rounded-full !overflow-hidden !border">
            <img
              class="!object-cover !w-full !h-full"
              src="{{ section.settings.icon2 | img_url: 'master' }}"
              alt="icon">
          </div>
        </div>
        <div class="!text-center md:!text-left">
          <h2 class="!text-2xl md:!text-4xl !font-bold !my-2">{{ section.settings.title2 }}</h2>
          <p class="!my-4 !text-2xl">{{ section.settings.subtitle2 }}</p>
        </div>
      </div>
      <div class="!flex !flex-col md:!flex-row !justify-between !gap-4 !my-6 !border-b md:!border-b-0">
        <div class="!flex !justify-center">
          <div class="!w-16 !h-16 !rounded-full !overflow-hidden !border">
            <img
              class="!object-cover !w-full !h-full"
              src="{{ section.settings.icon3 | img_url: 'master' }}"
              alt="icon">
          </div>
        </div>
        <div class="!text-center md:!text-left">
          <h2 class="!text-2xl md:!text-4xl !font-bold !my-2">{{ section.settings.title3 }}</h2>
          <p class="!my-4 !text-2xl">{{ section.settings.subtitle3 }}</p>
        </div>
      </div>
      <div class="!flex !flex-col md:!flex-row !justify-between !gap-4 !my-6">
        <div class="!flex !justify-center">
          <div class="!w-16 !h-16 !rounded-full !overflow-hidden !border">
            <img
              class="!object-cover !w-full !h-full"
              src="{{ section.settings.icon4 | img_url: 'master' }}"
              alt="icon">
          </div>
        </div>
        <div class="!text-center md:!text-left">
          <h2 class="!text-2xl md:!text-4xl !font-bold !my-2">{{ section.settings.title4 }}</h2>
          <p class="!my-4 !text-2xl">{{ section.settings.subtitle4 }}</p>
        </div>

        <div class="!block md:!hidden">
          <button class="!px-10 !py-7 md:!p-5 md:!w-3/5 !bg-blue-950 !text-white md:!text-2xl !text-4xl !rounded !w-full">{{ section.settings.btn-text }}</button>
          <div>
            <p class="!text-sm !my-4 !text-center">⭐⭐⭐⭐⭐ Over 500+ 5 Star Reviews Online</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Image carousel {% endcomment %}
    <div class="!flex !justify-center">
      <div class="!relative !w-full !flex !justify-center !max-w-lg !overflow-hidden !rounded-lg !shadow-lg">
        <!-- Carousel Images -->
        <div class="carousel-images !h-full !w-full !flex !transition-transform !duration-700 !ease-in-out">
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image1 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 1">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image2 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 2">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image3 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 3">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image4 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 4">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image5 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 5">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image6 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 6">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image7 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 7">
          </div>
          <div class="!min-w-full !min-h-full">
            <img
              src="{{ section.settings.image8 | img_url : 'master' }}"
              class="!object-cover !w-full !h-full"
              alt="Slide 8">
          </div>
        </div>

        <!-- Navigation Buttons -->
        <button id="prevBtn" class="!absolute !left-0 !top-1/2 !transform !-translate-y-1/2 !bg-gray-800 !bg-opacity-50 !text-white !p-3 !rounded-full">
          &#10094;
        </button>
        <button id="nextBtn" class="!absolute !right-0 !top-1/2 !transform !-translate-y-1/2 !bg-gray-800 !bg-opacity-50 !text-white !p-3 !rounded-full">
          &#10095;
        </button>

        <!-- Thumbnail Images -->
        <div class=" !absolute !z-10 !bottom-4 !mt-4 !space-x-2">
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="0">
            <img
              src="{{ section.settings.image1 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 1">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="1">
            <img
              src="{{ section.settings.image2 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 2">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="2">
            <img
              src="{{ section.settings.image3 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 3">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="3">
            <img
              src="{{ section.settings.image4 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 4">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="4">
            <img
              src="{{ section.settings.image5 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 5">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="5">
            <img
              src="{{ section.settings.image6 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 6">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="6">
            <img
              src="{{ section.settings.image7 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 7">
          </button>
          <button class="thumbnail w-12 h-12 border-2 border-transparent focus:border-blue-500" data-index="7">
            <img
              src="{{ section.settings.image8 | img_url : 'master' }}"
              class="w-full h-full object-cover"
              alt="Thumbnail 8">
          </button>
        </div>
      </div>
    </div>


  </div>

</div>


{% schema %}
  {
    "name": "Top benefits Section",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "default": "Loungewear you can be proud of.",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "btn-text",
        "default": "Customize Your Outfit",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "title1",
        "default": "Ethically Sourced.",
        "label": "Title 1"
      },
      {
        "type": "text",
        "id": "title2",
        "default": "Responsibly Made",
        "label": "Title 2"
      }, {
        "type": "text",
        "id": "title3",
        "default": "Made for living in.",
        "label": "Title 3"
      }, {
        "type": "text",
        "id": "title4",
        "default": "Unimaginable comfortable",
        "label": "Title 4"
      }, {
        "type": "text",
        "id": "subtitle1",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab necessitatibus praesentium reiciendis. Culpa cumque molestias vitae excepturi, et quibusdam eos aperiam soluta dolorem nesciunt delectus enim! Amet, aperiam in.",
        "label": "subtitle 1"
      }, {
        "type": "text",
        "id": "subtitle2",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab necessitatibus praesentium reiciendis. Culpa cumque molestias vitae excepturi, et quibusdam eos aperiam soluta dolorem nesciunt delectus enim! Amet, aperiam in.",
        "label": "subtitle 2"
      }, {
        "type": "text",
        "id": "subtitle3",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab necessitatibus praesentium reiciendis. Culpa cumque molestias vitae excepturi, et quibusdam eos aperiam soluta dolorem nesciunt delectus enim! Amet, aperiam in.",
        "label": "subtitle 3"
      }, {
        "type": "text",
        "id": "subtitle4",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab necessitatibus praesentium reiciendis. Culpa cumque molestias vitae excepturi, et quibusdam eos aperiam soluta dolorem nesciunt delectus enim! Amet, aperiam in.",
        "label": "subtitle 4"
      }, {
        "type": "image_picker",
        "id": "icon1",
        "label": "Icon 1"
      }, {
        "type": "image_picker",
        "id": "icon2",
        "label": "Icon 2"
      }, {
        "type": "image_picker",
        "id": "icon3",
        "label": "Icon 3"
      }, {
        "type": "image_picker",
        "id": "icon4",
        "label": "Icon 4"
      }, {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      }, {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      }, {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      }, {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      }, {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      }, {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      }, {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      }, {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      }
    ],
    "presets": [
      {
        "name": "Top benefits Section"
      }
    ]
  }
{% endschema %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {

    const carouselImages = document.querySelector('.carousel-images');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const thumbnails = document.querySelectorAll('.thumbnail');

    let currentIndex = 0;
    const totalImages = carouselImages.children.length;

// Function to update carousel position
    function updateCarousel() {
      const offset = - currentIndex * 100;
      carouselImages.style.transform = `translateX(${offset}%)`;
      updateActiveThumbnail();
    }

// Function to update the active thumbnail
    function updateActiveThumbnail() {
      thumbnails.forEach((thumbnail, index) => {
        thumbnail.classList.toggle('border-blue-500', index === currentIndex);
      });
    }

// Show the next image
    nextBtn.addEventListener('click', () => {
      currentIndex = (currentIndex + 1) % totalImages; // Loop back to the start
      updateCarousel();
    });

// Show the previous image
    prevBtn.addEventListener('click', () => {
      currentIndex = (currentIndex - 1 + totalImages) % totalImages; // Loop back to the end
      updateCarousel();
    });

// Add click event listeners to thumbnails
    thumbnails.forEach((thumbnail, index) => {
      thumbnail.addEventListener('click', () => {
        currentIndex = index;
        updateCarousel();
      });
    });

// Initialize by setting the first thumbnail as active
    updateActiveThumbnail();
  });
{% endjavascript %}